<mat-dialog-content
  fxLayout="row wrap"
  fxLayoutAlign="space-between start">
  <div
    [ngStyle]="{'background-image': 'url(' + data.oCountrie.flags.png + ')'}"
    class="back-flag">
    <div
      class="back-filter p-4"
      fxLayoutAlign="center center">
      {{data.oCountrie.name.official}}

    </div>
  </div>
  <div class="details">
    <mat-accordion class="example-headers-align" multi>
      <mat-expansion-panel>
        <mat-expansion-panel-header>
          <mat-panel-title>
            Currencies
          </mat-panel-title>
          <mat-panel-description>
            <mat-icon>attach_money</mat-icon>
          </mat-panel-description>
        </mat-expansion-panel-header>

        {{data.oCountrie.currencies | json}}

      </mat-expansion-panel>
      <mat-expansion-panel>
        <mat-expansion-panel-header>
          <mat-panel-title>
            Region and subRegion
          </mat-panel-title>
          <mat-panel-description>
            <mat-icon>map</mat-icon>
          </mat-panel-description>
        </mat-expansion-panel-header>
        {{data.oCountrie.region}} -
        {{data.oCountrie.subregion}}
      </mat-expansion-panel>
    </mat-accordion>

  </div>

</mat-dialog-content>
<mat-dialog-actions align="end">
  <button
    mat-button
    mat-dialog-close
    [mat-dialog-close]="true"
    cdkFocusInitial>Acept</button>
</mat-dialog-actions>
